.addModalAccident {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 0 7px 0;
    margin: 12px 0 12px 0;
}

input[type=date]{
    background-color: rgb(22, 24, 28);
    border: 2px solid rgba(164, 163, 182, 0.088);
    box-shadow: 5px 5px 0px 0px rgba(164, 163, 182, 0.088);
    border-radius: 5px;
    color: transparent;
    height: 35px;
    width: 300px;
}

input[type=file]{
    background-color: rgb(22, 24, 28);
    border: 2px solid rgba(164, 163, 182, 0.088);
    box-shadow: 5px 5px 0px 0px rgba(164, 163, 182, 0.088);
    border-radius: 5px;
    height: 100px;
    width: 350px;
    align-content: center;
}

input[type=date]:focus{
    color: white;
}

.addModalAccident label{
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgba(128, 128, 128, 0.83);
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.addModalAccident input:focus ~ label{
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 24, 28);
    padding: 0 5px;
}

.addModalAccident input:valid ~ label{
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 24, 28);
    padding: 0 5px;
}

input[type=date]:valid{
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 24, 28);
    padding: 0 5px;
}

.newUserError {
    display: none;
    color: red;
    font-size: 14px;
}

.crearCuentaError {
    display: none;
    color: red;
    font-size: 14px;
}

#cerrar{
    color: white;
    background-color: rgb(22, 24, 28);
    box-shadow: 0 0 0 0;
    border: 2px solid rgb(22, 24, 28);
    float: right;
    user-select: none;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#cerrar:hover{
    background-color: rgba(128, 128, 128, 0.83);
    cursor: pointer;
}

#cerrar:active{
    background-color: rgba(128, 128, 128, 0.83);
    transform: scale(0.95);
}

.saveAccident{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: span 2;
}

#btnSave{
    text-align: center;
    color: black;
    border-radius: 13px;
    box-shadow: 0 0 0 0;
    border: 2px solid #a4a3b616;
    background-color: white;
    height: 30px;
    width: 300px;
}

#btnSave:hover{
    background-color: rgba(255, 255, 255, 0.858);
    cursor: pointer;
}

#btnSave:active{
    transform: scale(0.95);
}

.formularioGrid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    width: 90%; /* evita que sobresalga */
    margin: 0 auto; /* centrar */
}