.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.contenidoModal {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: auto;
    background: rgb(22, 24, 28);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    color: white;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.contenidoModal input[type="text"]{
    background-color: rgb(22, 24, 28);
    border: 2px solid rgba(164, 163, 182, 0.088);
    box-shadow: 5px 5px 0px 0px rgba(164, 163, 182, 0.088);
    border-radius: 5px;
    color: white;
    height: 35px;
    width: 300px;
    margin: 12px 0px 12px 0px;
    display: block;
}

.contenidoModal h2{
    padding: 5px 10px;
}

.formularioCrear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userModal {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 0 7px 0;
    margin: 15px 0 15px 0;
}

.userModal label{
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgba(128, 128, 128, 0.83);
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.userNewInput{
    padding: 0px 10px;
}

.userNewInput:focus{
    border: 2px solid white;
}

.userNewInput:hover{
    border: 2px solid white;
}

.userModal input:focus ~ label{
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 24, 28);
    padding: 0 5px;
}

.userModal input:valid ~ label{
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 24, 28);
    padding: 0 5px;
}

.newUserError {
    display: none;
    color: red;
    font-size: 14px;
}

.crearCuentaError {
    display: none;
    color: red;
    font-size: 14px;
}

#cerrar{
    color: white;
    background-color: rgb(22, 24, 28);
    box-shadow: 0 0 0 0;
    border: 2px solid rgb(22, 24, 28);
    float: right;
    user-select: none;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#cerrar:hover{
    background-color: rgba(128, 128, 128, 0.83);
    cursor: pointer;
}

#cerrar:active{
    background-color: rgba(128, 128, 128, 0.83);
    transform: scale(0.95);
}

.CrearNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#btnCreateNew{
    text-align: center;
    color: black;
    border-radius: 13px;
    box-shadow: 0 0 0 0;
    border: 2px solid #a4a3b616;
    background-color: white;
    height: 30px;
    width: 275px;
}

#btnCreateNew:hover{
    background-color: rgba(255, 255, 255, 0.858);
    cursor: pointer;
}

#btnCreateNew:active{
    transform: scale(0.95);
}